.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1584551882459-bee9565c5022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=694&q=80");
 background-size: cover;
 background-attachment: fixed;
}
.header{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  border-bottom: 4px solid gold;
  padding: 30px;
  
}
footer{
  
  border: 2px solid #fff;
  padding: 10px;
  color: gold;
}
@media (max-width: 768px) {
.App {
  
  border: 4px solid gold;

}header{
  padding:10px;
  
  /* border: 1px solid #fff; */
  display: flex;
  justify-content:space-around;
  align-items:center;
  color:'gold';
  background: none
}.name{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  width: 80%;
  height: 300px;
 color:'red';
 font-family: 'Dancing Script';
font-size: 78px;
border-radius: 50px 50px;
/* border: 4px solid gold; */
padding: 15px;

}.name1{
  color: gold

  }
main{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  min-height: 650px;
  /* border: 3px solid #fff; */
  text-align: center;
  color: gold;
}
span{
  padding:1px;
  
}
}
/* footer{
  width: 100%;
  border: 2px solid #fff;
  padding: 10px;
  color: gold;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
